.modal,
.modali,
.modal_nw {
  z-index: 999999999 !important;
}
.gte {
  /* Main Content */
  .mbox {
    margin-left: 266px;
    width: 100%;
    color: black;
    z-index: 15;
    overflow: hidden;
  }
  .col1 {
    z-index: 1 !important;
  }
  .col1 {
    text-align: left !important;
    width: 100%;
    height: 6vh;
    background-color: white;
    margin-left: -3vw;
    margin-top: 1vh;
  }
  .col1 h1 {
    padding-top: 1vh;
    padding-left: 3vw;
    color: #24242c;
    font-family: "Lato", sans-serif !important;
    font-size: 1.5rem;
  }
  .main-grid {
    display: grid;
    left: 30px !important;
    grid-template-columns: 69vw;
    grid-template-rows: 3vh 68vh auto;
    grid-row-gap: 1vh;
    margin-top: 11vh;
    padding-left: 7%;
  }
  .sec {
    padding: 1vh 25px;
    background-color: #ffffff;
    font-weight: 600;
  }
  .dim {
    opacity: 0.8;
    font-weight: 520;
    border-bottom: 1px solid #b6b6b6;
  }
  .grid1 {
    background: #ffffff;
    padding-top: 1vh;
  }

  .he {
    width: 100%;
    height: 4vh;
    border-bottom: 1px solid #b6b6b6;
  }
  .head {
    margin-top: 0.1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    display: grid;
    grid-template-columns: 49% auto;
    grid-template-rows: auto;
    grid-column-gap: 2%;
    justify-content: space-between;
  }
  .ser,
  .seri,
  .sb {
    background-color: #337ab7;
    color: #fff;
    padding: 2px 8px;
  }
  .intro {
    margin-top: 2vh;
    font-size: 0.8rem;
    color: #a0a0a0;
    height: fit-content;
  }
  .grid-container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 1vh;
    font-size: 0.8rem;
    margin-left: 5vw;
  }
  .int {
    border: 1px solid #b6b6b6;
    background-color: #f5f1f1;
    margin-left: 1vw;
    min-width: 10vw;
  }
  .ckb {
    margin-left: 1.5vw;
    margin-right: 0.5vw;
  }
  .text-ar {
    border: 1px solid #c7c6c6;
    background-color: #f5f1f1;
    margin-left: 1vw;
    margin-top: -3vh;
  }
  .g1 {
    font-size: small;
  }
  .p1 {
    display: none;
  }
  .p2 {
    display: grid;
    grid-template-columns: 100%;
  }
  .qrcd {
    color: white;
    margin: 0;
    margin-top: 2vh;
  }
  .p3 {
    display: none;
    width: 100%;
    height: 30vh;
  }
  .he-i {
    margin-top: 2vh;
  }
  .intcn {
    width: 90%;
    height: 90%;
    margin: 0 5%;
    font-size: 0.8rem;
    margin-top: 3vh;
    overflow-y: scroll;
  }
  .intcn::-webkit-scrollbar {
    width: 0.25rem;
  }

  .dot {
    height: 45px;
    width: 45px;
    background-color: #337ab7;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    margin-left: 58vw;
    margin-top: 10vh;
    text-align: center;
  }
  .dot h6 {
    font-size: 1.2rem;
    margin: 1vh 2px;
  }
  .intcn::-webkit-scrollbar-thumb {
    background: #b6b6b6;
  }
  .intcn p {
    margin-bottom: 3.5vh;
  }
  .qr {
    border-left: 1px solid #b6b6b6;
  }
  .qr img {
    opacity: 0.35;
  }
  .qrc {
    margin-top: 6vh;
    width: 15vw;
    height: auto;
  }
  .bq {
    background-color: #337ab7;
    padding: 3px 6px;
    color: #fff;
    border-radius: 50%;
  }
  .dow {
    margin-top: 2vh;
    background-color: #337ab7;
    padding: 3px 5%;
    color: #fff;
    font-size: 0.85rem;
    font-weight: bold;
  }
  /*table section*/

  .p1 {
    .table1 {
      background-color: rgb(255, 255, 255);
      max-width: 100%;
      width: 50vw;
      height: 55vh;
      padding-left: 2vw;
      padding-right: 2vw;
      border: 1px solid rgba(119, 112, 112, 0.479);
      margin-top: 3vh;
      margin-left: auto;
      margin-right: auto;
    }
    table {
      background-color: rgba(255, 255, 255, 0.932);
    }

    .intable1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 3vh;
      padding: 1vw;
    }
    #inptxt {
      border: 2px solid rgb(230, 230, 230);
      margin-right: 1vw;
    }
    .rg {
      color: #337ab7;
    }
    #hd {
      border-collapse: collapse;
      width: 100%;
      margin-left: 0.5vw;
      z-index: 9;
      position: relative;
    }

    .bd {
      font-size: xx-small;
      visibility: hidden;
      height: 1px !important;
    }
    .non {
      height: 38vh !important;
      overflow-y: scroll !important;
    }
    #fauth {
      display: none;
    }
    #authe,
    #fauth {
      border-collapse: collapse;
      width: 100%;
      overflow-y: scroll !important;
      margin-bottom: 3vh;
      font-size: 0.75rem;
    }
    .nt {
      height: 60vh !important;
    }
    .nt tr td {
      padding: 0 5px !important;
    }
    .no {
      visibility: hidden;
    }
    #authe td,
    #fauth td,
    #fauth th,
    #authe th,
    #hd th {
      border-bottom: 1px solid rgb(233, 233, 233);
      padding: 2px;
      text-align: center;
    }

    #authe tr:nth-child(even),
    #fauth tr:nth-child(even) {
      background-color: #fafafa;
    }
    .ic {
      width: 1rem !important;
    }
    #authe tr:hover,
    #fauth tr:hover {
      background-color: #ddd;
    }
    .lf {
      display: flex;
    }
    .clear {
      display: none;
      border-radius: 50%;
      padding: 5px;
      color: snow;
      background-color: #337ab7;
    }
    #authe td,
    #fauth td,
    #hd th {
      width: 1vw !important;
      text-align: center;
    }
    .ic {
      width: 0.65rem;
      color: #337ab7 !important;
    }
    #nope,
    .first {
      visibility: hidden;
    }
  }
  /* large screens */
  @media only screen and (min-width: 825px) {
    main {
      padding-top: 12vh;
    }
    .col1 {
      position: fixed;
    }
    .mbox {
      position: fixed;
    }
    .p2 {
      width: 100%;
      height: 54vh;
    }
    /*table section*/
    .grid3 {
      grid-area: 1/2/3/2;
    }
  }

  .p3 {
    .table1 {
      background-color: rgb(255, 255, 255);
      max-width: 100%;
      width: 50vw;
      height: 55vh;
      padding-left: 2vw;
      padding-right: 2vw;
      border: 1px solid rgba(119, 112, 112, 0.479);
      margin-top: 3vh;
      margin-left: auto;
      margin-right: auto;
    }
    table {
      background-color: rgba(255, 255, 255, 0.932);
    }

    .intable1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 3vh;
      padding: 1vw;
    }
    #inptxt {
      border: 2px solid rgb(230, 230, 230);
      margin-right: 1vw;
    }
    .rg {
      color: #337ab7;
    }
    #hd {
      border-collapse: collapse;
      width: 100%;
      margin-left: 0.5vw;
      z-index: 9 !important;
      position: relative;
    }

    .bd {
      font-size: xx-small;
      visibility: hidden;
      height: 1px !important;
    }
    .non {
      height: 38vh !important;
      overflow-y: scroll !important;
    }

    #authe,
    #fauth {
      border-collapse: collapse;
      width: 100%;
      overflow-y: scroll !important;
      margin-bottom: 3vh;
      font-size: 0.75rem;
    }
    .nt {
      height: 60vh !important;
    }
    .no {
      visibility: hidden;
    }
    #authe td,
    #fauth td,
    #fauth th,
    #authe th,
    #hd th {
      border-bottom: 1px solid rgb(233, 233, 233);
      padding: 2px;
      text-align: center;
    }

    #authe tr:nth-child(even),
    #fauth tr:nth-child(even) {
      background-color: #fafafa;
    }
    .ic {
      width: 1rem !important;
    }
    #authe tr:hover,
    #fauth tr:hover {
      background-color: #ddd;
    }
    .clear {
      display: none;
      border-radius: 50%;
      padding: 5px;
      color: snow;
      background-color: #337ab7;
    }
    #authe td,
    #fauth td,
    #hd th {
      width: 1vw !important;
      text-align: center;
    }
    .ic {
      width: 0.65rem;
      color: #337ab7 !important;
    }
    #nope,
    .first {
      visibility: hidden;
    }
  }
  /* large screens */
  @media only screen and (min-width: 825px) {
    main {
      padding-top: 12vh;
    }
    .col1 {
      position: fixed;
    }
    .mbox {
      position: fixed;
    }
    .p2 {
      width: 100%;
      height: 54vh;
    }
    /*table section*/
    .grid3 {
      grid-area: 1/2/3/2;
    }
  }
  /* Medium screens */
  @media only screen and (max-width: 1130px) {
    .main-grid {
      padding-left: 0;
    }
  }
  /* Medium screens */
  @media only screen and (max-width: 1250px) {
    .grid-container {
      margin-top: 3vh;
    }
  }
  /* Medium screens */
  @media (min-width: 825px) and (max-width: 1180px) {
    /*table section*/
    .table1 {
      overflow-x: scroll;
      overflow-y: scroll;
    }
  }
  /* Medium screens */
  @media (min-width: 825px) and (max-width: 940px) {
    .main-grid {
      grid-template-columns: 66vw;
    }
  }

  /* Super Small screens */
  @media only screen and (max-width: 565px) {
    .head {
      grid-template-columns: 100%;
      grid-template-rows: 6vh 6vh;
      text-align: center;
    }
    .he {
      height: 5vh;
    }
  }
  /* Small screens */
  @media only screen and (max-width: 825px) {
    .last {
      margin-bottom: 12px;
    }
    .mbox {
      margin-left: 0px;
    }
    .col1 {
      margin-left: 0;
      position: relative;
    }

    .main-grid {
      left: 30px !important;
      grid-template-columns: 90vw;
      grid-template-rows: 4vh auto auto;
      grid-row-gap: 1vw;
      padding-top: 0;
      padding-bottom: 8vh;
      padding-left: 5%;
      margin-top: 3vh;
      margin-bottom: 7vh;
    }
    .grid0 {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .grid0 button {
      padding: 7px 24.8px;
    }
    .grid-container,
    .g1 {
      font-size: 0.7rem;
    }
    .grid-container {
      grid-template-columns: 35% auto;
    }
    .int {
      width: 90%;
    }
    .text-ar {
      border: 1px solid #c7c6c6;
      background-color: #f5f1f1;
      margin-left: 0;
      margin-top: -3vh;
      width: 90%;
    }
    .p2 {
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
    }
    .he-i {
      margin-top: 2vh;
    }
    .qr {
      padding-bottom: 3vh;
    }
    .qrc {
      width: 35vw;
      height: auto;
    }
    .sb {
      width: 100%;
      margin-bottom: 3vh;
    }
    .p3 {
      height: auto;
    }
    .p1,
    .p3 {
      margin-bottom: 2vh;
      .intable1 {
        margin-top: 6%;
      }
      .table1 {
        width: 90%;
        margin: 0 2%;
      }
      .head {
        margin-top: 2vh;
      }
      #authe td,
      #fauth td,
      #fauth th,
      #authe th,
      #hd th {
        padding: 6px 0;
      }
    }
    #myModal,
    #myModali {
      z-index: 9999999999999999999999999999999999 !important;
      position: fixed !important;
      .modal-content {
        z-index: 9999999999999999999999999999999999 !important;
        width: 90%;
        height: auto;
      }
      .pic {
        width: 100px !important;
        height: 100px !important;
      }
      .profile {
        margin: 3px;
      }
    }
    /*table section*/
    .table1 {
      width: 100%;
      height: fit-content;
      margin-bottom: 0;
      padding-left: 0vw;
      padding-right: 0vw;
      margin-top: 0vh;
      margin-left: auto;
      margin-right: auto;
    }
    .grid3 {
      grid-column: 1/3;
    }
  }

  /* The Modal (background) */
  .modal,
  .modali {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999999999999999999999999999999999 !important; /* Sit on top */
    padding-left: 35%;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .pic {
    width: 150px !important;
    height: 150px !important;
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #337ab7;
    color: white;
  }
  .modal-header h2 {
    font-size: 1rem;
    text-align: center;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #ffffff;
    position: fixed;
    z-index: 9999999999999999999999999999999999 !important;
    margin: 15% 0; /* 15% from the top and centered */
    margin-left: -6%;
    padding: 10px;
    border: 1px solid #888;
    width: 45%;
    height: auto; /* Could be more or less, depending on screen size */
  }
  .profile {
    /*background-color: rgb(211, 207, 207);*/
    background-color: rgb(238, 238, 238);
    width: 90%;
    height: auto;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: ridge;
    border-color: rgba(128, 128, 128, 0.075);
    margin: 10px;
    margin-top: 15px;
  }

  .Tag-no {
    margin-bottom: 10px;
    background-color: rgba(32, 31, 31, 0.897);
    color: snow;
    font-weight: 550;
  }
  .info-part {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .student-image img {
    width: 100%;
    height: 100%;
  }
  .details {
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 10px;
    font-size: 15px;
    color: black;
  }

  .details-answer {
    font-weight: 550;
    font-size: 14px;
  }
  .submit-part input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-style: ridge;
    box-sizing: border-box !important;
    border-color: rgba(0, 0, 0, 0.397) !important;
  }
  .submit-part button {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .confirm-button {
    background-color: rgba(9, 214, 9, 0.801);
    color: snow;
    border: 0.5px solid rgba(3, 117, 3, 0.719);
  }
  .decline-button {
    background-color: rgba(238, 15, 60, 0.815);
    color: snow;
    border: 0.5px solid rgba(168, 3, 3, 0.719);
  }

  /* The Close Button */
  .close {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* Medium screens */
  @media only screen and (max-width: 1130px) {
    .modal-content,
    .modal-contenti {
      position: fixed !important;
      z-index: 9999999999999999999999999999999999;
      background-color: #ffffff;
      margin: 10% auto; /* 15% from the top and centered */
      padding: 10px;
      border: 1px solid #888;
      width: auto;
      height: auto; /* Could be more or less, depending on screen size */
    }
  }
  @media only screen and (max-width: 825px) {
    .modal,
    .modali {
      width: 100%;
      padding-left: 5%;
    }
    .modal-content {
      background-color: #ffffff;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 5px;
      border: 1px solid #888;
      width: auto;
      height: auto; /* Could be more or less, depending on screen size */
    }
    .main-grid {
      grid-template-rows: 7vh auto auto;
    }
    .sec {
      width: 33.3%;
      padding: 0;
    }
  }
  @media only screen and (max-width: 340px) {
  }
}
